body {
    text-align: center;
    align-items: center;
    justify-content: center;
}
button {
    border-radius: 20px;
    background: #a3a3a3;
    margin: 20px;
    padding: 20px;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 70px;
}
input {
    border-radius: 20px;
    border: 8px solid #a3a3a3;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 100px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 70px;
}
#output {
    margin: 100px;
    font-size: 100px;
}